@font-face {
  font-family: thevalorant;
  src: url(../font/valorant_font.ttf);
}

@font-face {
  font-family: para;
  src: url(../font/para_font.ttf);
}

* {
  font-weight: 100;
  letter-spacing: 0.1rem;
}

.flexall{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #0c1c24;
  padding: 0;
  height: 100%;
  width: 100%;
}

nav {
  background-color: #183c40;
  height: 8vh;
  width: 100%;
  position: absolute;
  border: 2px solid black;
}

.flex{
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  margin-left: 20rem;
  margin-top: 0rem;
  font-family: thevalorant;
}

#val{
  height: 25vh;
  width: 15vw;
  margin-top:  0rem;
  margin-left: 1rem;
}

#valo{
  margin-top: -1.5rem;
  height: 30vh;
  width: 34vw;

}

.another{
  display: flex;
  flex-direction: row;
  margin-top: 0rem;
}

h5 {
  font-size: 2rem;
  color: #fb4353;
  text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
  transform: scaleY(0.9);
  margin-top: 0.45rem;
}


#ranking {
  margin-left: 1rem;
  float: left;
  height: fit-content;
  display: flex;
  padding: 0;
}

.rank {
  width: 47.5vw;
  margin-top: -1.5rem;
  height: fit-content;
  border-collapse: collapse;
  font-size: 0.85rem;
  font-family: para;
  background-color: #6A2A35;
  border: 2px solid black;
}

.rank th,td {
  border: 2px solid black;
  flex-direction: row;
  padding: 0.3rem;
  text-align: left;
}

.number {
  color: #fb4353;
  text-align: center;
  text-shadow:
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
}


.teams {
  color: white;
  font-family: thevalorant;
  text-shadow:
      -1px -1px 0 #fb4353,
      1px -1px 0 #fb4353,
      -1px 1px 0 #fb4353,
      1px 1px 0 #fb4353;
}

.wrapteam{
  display: flex;
  float: left;
  height: 25vh;
  width: 120vw;
  margin-left: 0.99rem;
  margin-top: -2rem;

}

.tbteam {
  width: 95.75vw;
  border-collapse: collapse;
  font-size: 0.7rem;
  padding: 1rem;
  font-family: para;
  background-color: #6A2A35;
  border: 2px solid black;
  float: right;
}

#crown{
  height: 1.5rem;
  width: 1.5rem;
 }



.lag, .lag1, .lag3 {
  background-color: #6A2A35;
  color: white;
  padding: 4px;
  font-weight: 100;
  font-size: 1rem;
  text-shadow:
      -1px -1px 0 #fb4353,
      1px -1px 0 #fb4353,
      -1px 1px 0 #fb4353,
      1px 1px 0 #fb4353;
}

.name {
  background-color: #fb4353;
  text-align: center;
  padding: 3px;
  font-size: 1rem;
}

.name1, .name3 {
  background-color: #fb4353;
  text-align: center;
  padding: 0px;
  font-size: 1rem;
  width: 20rem;
}

.timewrap {
  display: flex;
  flex-direction: column;
  padding: 0;
  float: right;
  gap: 0.4rem;
  margin-top: 2.1rem;
  margin-right: 1.9rem;
  margin-bottom: 1rem;
}

.all{
  height:fit-content;
  width: 100%;
  padding: 0;
  background-color: #0a1e20;
  margin-top: -1rem;
}

.times {
  width: 45vw;
  font-size: 1.5rem;
  height: fit-content;
  border-collapse: collapse;
  font-family: thevalorant;
  background-color: #fb4353;
  border: 2px solid black;
  margin-top: -1rem;
  padding: 0.5rem;
}

.timewrap tr, th {
  border: 2px solid black;
  padding: 0.55rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
  font-family: thevalorant
}

.type{
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-shadow:
  -0.5px -0.5px 0 white,
  0.5px -0.5px 0 white,
  -0.5px 0.5px 0 #fff,
  0.5px 0.5px 0 #fff;
}


.type3{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

.klokke{
  color: black;
  text-align: center;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
}


.times2 {
  width: 45vw;
  height: 25vh;
  border-collapse: collapse;
  font-size: 1rem;
  font-family: thevalorant;
  background-color: #6A2A35;
  border: 2px solid black;
}

.timewrap tr th {
  border: 2px solid black;
  padding: 0.55rem;
  text-align: center;
  font-family: thevalorant
}

.type4{
  color: white;
  text-shadow:   
  -0.5px -0.5px 0 #fb4353,
  0.5px -0.5px 0 #fb4353,
  -0.5px 0.5px 0 #fb4353,
  0.5px 0.5px 0 #fb4353;
}

.type2{
  color: white;
  font-size: 1rem;
}

.klokke2{
  color: white;
  text-align: center;
  padding: 0;
  font-size: 1rem;
}

.type4{
  text-align: center;
  color: black;
  font-size: 1rem;
}


  @media (min-width: 1800px) {

    *{
     font-size: x-large;
    } 
     .all{
       margin-top: 2.75rem;
     }
     .tbteam{
       margin-top: 2.3rem;
      height: 30vh;
      width: 96.78vw;
     }
   
     .lag1, .lag3{
       width: 24vw;
     }
     .flex{
     display: flex;
     gap: 1rem;
     flex-direction: row;
     font-size: xx-large;
     font-family: thevalorant;
     }
   
     h5{
       margin-top: 1.3rem;
       margin-right: 0.5rem;
     }  
     .timewrap{
       margin-top: 4rem;
     }
   
     #val{
       margin-top: 2rem;
     }
   
     #valo{
       margin-top: 1rem;
       width: 27vw;
     }
   
     #ranking{
       margin-top: 3rem;
     }
   }